Latihan Operator 1

In [3]:
#penjumlahan
print('Penjumlahan')
print(5+5)
#pengurangan
print('Pengurangan')
print(5-1)
#perkalian
print('Perkalian')
print(5*1)
#pembagian
print('Pembagian')
print(4%2)
#perpangkatan
print('Perpangkatan')
print(5**1)
#pembagian dengan hasil pembulatan
print('Pembagian pembulatan flooring')
print(5//1)

Penjumlahan
10
Pengurangan
4
Perkalian
5
Pembagian
0
Perpangkatan
5
Pembagian pembulatan flooring
5

Latihan operator 2

In [4]:
#penjumlahan
print('Penjumlahan')
x=9
x=x+9
print(x)
x=9
x+=9
print(x)

#pengurangan
print('Pengurangan')
x=9
x=x-9
print(x)
x=9
x-=7
print(x)

#perkalian
print('Perkalian')
x=9
x=x*9
print(x)
x=9
x*=7
print(x)

#pembagian
print('Pembagian')
x=9
x=x/9
print(x)
x=9
x/=7
print(x)

#modulus
print('Modulus')
x=9
x=x%9
print(x)
x=9
x%=7
print(x)

#pembagian flooring
print('Pembagian flooring')
x=9
x=x//9
print(x)
x=9
x//=7
print(x)

#perpangkatan
print('Perpangkatan')
x=9
x=x**9

Penjumlahan
18
18
Pengurangan
0
2
Perkalian
81
63
Pembagian
1.0
1.2857142857142858
Modulus
0
2
Pembagian flooring
1
1
Perpangkatan

Latihan operator 3

In [6]:
print(4==2)
print(4!=2)
print(4>2)
print(4<2)
print(4>=2)
print(4<=2)

False
True
True
False
True
False

Latihan operator 4

In [7]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

Latihan operator 5

In [8]:
c=(8,9,10,11,12,13)
d=9

print(d in c)
c=(8,9,10,11,12,13)
d=14
print(d not in c)

True
True

Latihan variabel 1

In [9]:
#membuat variabel
kalimat='saya mahasiswa matematika'
bilangan1 = 5
bilangan2 = 6.5
bilangan3 = False
bilangan4 = 2j + 5

Latihan variabel 2

In [10]:
#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

saya mahasiswa matematika
5
6.5
False
(5+2j)

Latihan variabel 3

In [11]:
#konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

#konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

6
0
5.0
0.0
5
6.5
False